{% extends 'base.html' %}
{% block content %}
<h1>Listar Alunos</h1>
<a href="{% url 'incluiraluno' %}" class="btn btn-primary">
    Cadastrar novo aluno
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for c in alunos %}
        <tr>
            <td>{{ c.nome }}</td>
            <td>{{ c.telefone }}</td>
            <td>{{ c.email }}</td>
            <td>
    <a href="{% url 'alteraraluno' c.id %}"
        class="btn btn-secondary">
        Alterar 
        </a>
        <a href="{% url 'excluiraluno' c.id %}"
        class="btn btn-danger">
        Excluir
        </a>
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}